a {
    color: #7f8284;
}

a:hover {
    color: #ff8329;
    text-decoration: none;
}

label.error, small.error, span.error {
    color: red !important;
    font-size: 100% !important;
}

input.error {
    border: 1px solid red;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
table{
    width: 100%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 30px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
